.navbar-background-cus {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.background-image-cus {
    background-image: url('/static/images/profile.png');
    background-position: center;
}